


/*********************************************************************************\
 * Global                                                                        *
\*********************************************************************************/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(255,78,0);
    /* background: -moz-linear-gradient(-45deg, rgba(255,78,0,1) 0%, rgba(229,19,86,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,78,0,1) 0%,rgba(229,19,86,1) 100%);
    background: linear-gradient(135deg, rgba(168,78,0,1) 0%,rgba(100,64,143,1) 100%); */
    background: url(../img/background.jpg) no-repeat fixed ;
    background-size: cover;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

::placeholder {
    font-size: 14px;
    color: gray;
}

.of-responsive{

}


/*********************************************************************************\
 * Container                                                                     *
\*********************************************************************************/


.of-container {
    width: 1000px;
    margin: 0 auto;
}


/*********************************************************************************\
 * Header                                                                        *
\*********************************************************************************/


.of-header {
    height: 100px;
    padding-top: 50px;
}

.of-header-logo {
    width: 250px;
    height: 220px;
    z-index: 1;
    top: 20px;
    left: -37px;
    position: fixed;
}

.of-header-title {
    text-transform: uppercase;
    line-height: 50px;
    float: left;
}

.of-header-title-item {
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    color: white;
}


/*********************************************************************************\
 * Header - NavBar                                                               *
\*********************************************************************************/


.of-header-nav {
    float: right;
    height: 50px;
}

.of-header-nav-item {
    line-height: 46px;
    margin-right: 10px;
    float: left;
}

.of-header-nav-item-title {
    text-transform: uppercase;
    border: 2px solid #1E0D06;
    background-color: #D9BC74;
    border-radius: 4px;
    line-height: 46px;
    font-size: 14px;
    padding: 0 18px;
    font-weight: 700;
    cursor: default;
    height: 50px;
    color: #fff;
}

.of-header-nav-item-input {
    background-color: #D9BC74;
    border: 2px solid #1E0D06;
    border-radius: 4px;
    line-height: 46px;
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 0 18px;
    outline: none;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-input:focus {
    background-color: #211406;
    border-radius: 20px;
    border-color: #fff;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-href {
    text-transform: uppercase;
    border: 2px solid #1E0D06;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 46px;
    color: #555;
    background-color: #D9BC74;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-href:hover {
    background-color: #211406;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
}

.of-header-nav-item-button {
    text-transform: uppercase;
    border: 2px solid #1E0D06;
    border-radius: 5px 0 0 5px;
    border-right-style: none;
    line-height: 46px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    height: 50px;
    color: #555;
    background-color: #D9BC74;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-header-nav-item-button:hover {
    background-color: #211406;
    border-radius: 20px 0 0 20px;
    border-color: #fff;
    color: #fff;
}

.of-header-nav-item-right {
    margin: 0px;
    border-radius: 0 5px 5px 0;
    border-left-style: none;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-right:hover {
    border-radius: 0 20px 20px 0;
}

.of-header-nav-item-left {
    margin: 0px;
}


/*********************************************************************************\
 * Home                                                                          *
\*********************************************************************************/


.of-home {
    width: 400px;
    margin-top: 60px;
}

.of-home-title {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}

.of-home-subtitle {
    padding: 50px;
}

.of-home-button {
    width: max-content;
    line-height: 50px;
    margin: 0 auto;
}

.of-home-button-a {
    box-shadow: 0 10px 40px 10px rgba(0,0,0,0.25);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 25px;
    display: block;
    border: 1px solid transparent;
    color: #fff;
    background: linear-gradient(135deg, rgba(168,78,0,1) 0%,rgba(100,64,143,1) 100%);

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-home-button-a:hover {
    border: 1px solid rgba(100,64,143,1);
    border-radius: 10px 0 0 10px;
    color: rgba(100,64,143,1);
    background: #FFF;
}


/*********************************************************************************\
 * Main                                                                          *
\*********************************************************************************/



.of-main {
    background-color: #fff;
    border-radius: 2px;
    padding: 30px 20px;
    margin: 50px 0 0 140px;
    display: flex;
    width: 900px;
}

.of-main-1 {
    width: 45%;
    float: left;
    margin: 0 5%;
    background: url(../img/fond.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0px;
}

.of-main-2 {
    width: 45%;
    float: right;
    margin: 0 5%;
    background: url(../img/fond.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0px;
}

.of-main-attraction {
    background-color: transparent;
    padding: 30px 20px;
    margin: 30px 0 0 80px;
    display: flex;
}

.of-main-inscription {
    background-color: transparent;
}

.of-main-perso {
    background-color: transparent;
    padding: 20px;
}

.of-main-connection {
    background-color: transparent;

}

.of-main-reservation-salle {
    padding: 30px 20px;
    margin: 50px 0 0 140px;
    width: 900px;
}

.of-main-reservation-anniv {
    padding: 30px 20px;
    margin: 50px 0 0 140px;
    display: flex;
    width: 900px;
}

.of-main-containe {
    margin: 0 auto;
    padding: 40px;
    width: 400px;
    background: url(../img/fond.jpg) no-repeat;
    background-size: 100% 100%;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0px;
}

.of-main-corps {
    padding: 5px;
}

.of-main-title {
    color: #40485D;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}

.of-main-title-h2 {
    color: #40485D;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}

.of-main-salle {

}

.of-main-block-salle {
    background: url(../img/fond.jpg) no-repeat;
    background-size: 100% 100%;
    width: 31%;
    float: left;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    margin: 10px 1%;
    box-shadow: 10px 10px 20px 0px;
}

.of-main-block-salle-all {
    display: block;
    width: 100%;
}

.of-main-block-salle-title {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.of-main-form {
    margin: 0 auto;
    padding: 30px 60px;
    width: 400px;
    background: url(../img/fond.jpg) no-repeat;
    background-size: 100% 100%;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 10px 10px 20px 0px;
}

.of-main-form-item {
    margin-top: 20px;
}

.of-main-form-item-link {
    padding: 5px;
    width: 100%;
}

.of-main-item {
    width: 100px;
    margin: 30px auto;

}

.of-main-item-href {
    text-transform: uppercase;
    border: 2px solid #1E0D06;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 46px;
    color: #555;
    background-color: #E1D4B2;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;


}

.of-main-item-href:hover {
    background-color: #211406;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
}

.of-main-button-item {
    text-transform: uppercase;
    border: 2px solid #1E0D06;
    border-radius: 5px;
    line-height: 46px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    height: 50px;
    display: block;
    margin: 0 auto;
    color: #555;
    background: #E1D4B2;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-main-button-item:hover {
    background-color: #211406;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
}


/*********************************************************************************\
 * Footer                                                                        *
\*********************************************************************************/


.of-footer {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    height: 50px;
    color: #000;
}


/*********************************************************************************/
/* Images                                                                        */
/*********************************************************************************/


.of-main-block-salle-radio:after {
    top: 9343px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}







.of-img-salle {
    width: 100%;
    margin-top: 20px;
}

.of-img-description {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.of-main-block-salle-nbenfant {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.of-main-block-salle-select {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    float: left;
}

.of-main-block-salle-radio {
    width: 15%;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

.of-main-table-reserv{
    margin: 20px auto;
}

.tabReserv{
    color: #000;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

.of-main-table-reserv-ligne-item {
    color: #600;
    font-size: 14px;
    font-weight: 900;
    padding: 8px 5px 8px 5px;
    margin: 30px;
    text-align: center;
    border: 1px solid;
}

.of-main-table-reserv-ligne-item-th {
    padding: 10px;
}

.of-slider {
    display: none;
    height: 400px;
    width: 400px;
    margin-left: 80px;
    box-shadow: 10px 10px 20px 1px;
}


.of-main-form-button-invalid {
    border: 2px solid #1E0D06;
    border-radius: 5px;
    line-height: 46px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    height: 50px;
    color: #555;
    background-color: #fff;

    transition: none;
}

.of-main-form-button-invalid:hover {
    background-color: #fff;
    border-radius: 5px;
    border-color: #1E0D06;
    color: #555;
}

.of-main-form-button-valid {
    display: inherit;
}



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/