


/*********************************************************************************\
 * Global                                                                        *
\*********************************************************************************/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(255,78,0);
    /* background: -moz-linear-gradient(-45deg, rgba(255,78,0,1) 0%, rgba(229,19,86,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,78,0,1) 0%,rgba(229,19,86,1) 100%);
    background: linear-gradient(135deg, rgba(168,78,0,1) 0%,rgba(100,64,143,1) 100%); */
    background: url(../img/fond.jpg) no-repeat fixed ;
    background-size: cover;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

::placeholder {
    font-size: 14px;
    color: gray;
}

.of-responsive{

}


/*********************************************************************************\
 * Container                                                                     *
\*********************************************************************************/


.of-container {
	width: 1100px;
	margin: 0 auto;
}


/*********************************************************************************\
 * Header                                                                        *
\*********************************************************************************/


.of-header {
    height: 100px;
    padding-top: 50px;
}

.of-header-logo {
    width: 150px;
    height: 140px;
    z-index: 1;
    top: 15px;
    left: 100px;
    position: absolute;
}

.of-header-title {
    text-transform: uppercase;
    line-height: 50px;
    float: left;
}

.of-header-title-item {
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    color: white;
}

/*********************************************************************************\
 * Header - NavBar                                                               *
\*********************************************************************************/


.of-header-nav {
    float: right;
    height: 50px;
}

.of-header-nav-item {
    line-height: 46px;
    margin-right: 10px;
    float: left;
}

.of-header-nav-item-title {
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    line-height: 50px;
    font-size: 14px;
    padding: 0 18px;
    font-weight: 700;
    cursor: default;
    height: 52px;
    color: #000;
}

.of-header-nav-item-input {
    background-color: #EDE6CA;
    text-transform: uppercase;
    border: 2px solid #e3e3e3;
    border-radius: 4px;
    line-height: 46px;
    height: 50px;
    width: 100%;
    color: #000;
    font-size: 12px;
    padding: 0 18px;
    outline: none;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-input:focus {
    background-color: #834E1C;
    border-radius: 20px;
    border-color: #fff;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-href {
    text-transform: uppercase;
    border: 2px solid #663125 ;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 46px;
    color: #555;
    background-color: #EDE6CA;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-href:hover {
    background-color: #834E1C;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
}

.of-header-nav-item-button {
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px 0 0 5px;
    border-right-style: none;
    line-height: 46px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    color: #fff;
    background-color: #834E1C;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-header-nav-item-button:hover {
    background-color: #EDE6CA;
    border-radius: 20px 0 0 20px;
    border-color: #663125;
    color: #663125;
}

.of-header-nav-item-right {
    margin: 0px;
    border-radius: 0 5px 5px 0;
    border-left-style: none;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .65s ease-in-out;
}

.of-header-nav-item-right:hover {
    border-radius: 0 20px 20px 0;
}

.of-header-nav-item-left {
    margin: 0px;
}


/*********************************************************************************\
 * Home                                                                          *
\*********************************************************************************/


.of-home {
    background-color: #fff;
    border-radius: 2px;
    padding: 50px 35px;
    margin-top: 80px;
}

.of-home-title {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}

.of-home-subtitle {
    padding: 50px;
}

.of-home-button {
    width: max-content;
    line-height: 50px;
    margin: 0 auto;
}

.of-home-button-a {
    box-shadow: 0 10px 40px 10px rgba(0,0,0,0.25);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 25px;
    display: block;
    border: 1px solid transparent;
    color: #fff;
    background: linear-gradient(135deg, rgba(168,78,0,1) 0%,rgba(100,64,143,1) 100%);

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-home-button-a:hover {
    border: 1px solid rgba(100,64,143,1);
    border-radius: 10px 0 0 10px;
    color: rgba(100,64,143,1);
    background: #FFF;
}


/*********************************************************************************\
 * Main                                                                          *
\*********************************************************************************/



.of-main {
    background-color: #fff;
    border-radius: 2px;
    padding: 50px 35px;
    margin-top: 80px;
    display: flex;
    height: calc(100vh - 230px - 10px);
    overflow-y: auto;
}

.of-main-1 {
    width: 45%;
    float: left;
    margin: 0 5%;
}

.of-main-2 {
    width: 45%;
    float: right;
    margin: 0 5%;
}

.of-main-containe {
    margin: 0 auto;
    width: 400px;
}

.of-main-corps {

}

.of-main-title {
    color: #40485D;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.of-main-title-h2 {
    color: #40485D;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.of-main-form {
    margin: 0 auto;
}

.of-main-form-item {
    margin-top: 20px;
}

.of-main-form-item-link {
    padding: 5px;
}

.of-main-item {
    display: block;
}

.of-main-item-href {
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    width: 110px;
    line-height: 50px;
    padding: 0 25px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    color: #fff;
    background-color: rgba(80,64,143,1);

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;


}

.of-main-item-href:hover {
    background-color: #75466D;
    border: 1px solid rgba(80,64,143,1);
    border-radius: 20px;
}

.of-main-button-item {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 4px;
    line-height: 50px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    color: red;
    background: #fff;

    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, border-radius .5s ease-in-out;
}

.of-main-button-item:hover {
    background-color: #FFD;
    color: #000;
}


/*********************************************************************************\
 * Footer                                                                        *
\*********************************************************************************/


.of-footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    color: #fff;
}

/*********************************************************************************/
/* Slider                                                                      */
/*********************************************************************************/

.of-slider {
    display:none;

}

















/*********************************************************************************/
/* wrapper                                                                       */
/*********************************************************************************/

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/